.fitbuddy-name {
  padding-left: 60px;
  font-size: 30px;
  color: whitesmoke;
}

.navbar-morphism {
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.fire-icon {
  padding-right: 10px;
}
